<!DOCTYPE html>
<html>
<head>
    <title>Downloading...</title>
</head>
<body>
    <p>Your download is starting shortly...</p>
    <a id="downloadLink" href="<%= downloadUrl %>">Click here to download if it doesn't start automatically.</a>
    <script>
        // Immediately trigger the click event on the link
        document.getElementById('downloadLink').click();
    </script>
</body>
</html>